node_modules/
.next/
storage/imports/*
storage/bills/*
!storage/imports/.gitkeep
!storage/bills/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
.env
*.log
prisma/dev.db
prisma/dev.db-journal
__pycache__/
prisma/*.db
prisma/*.db-journal
.env.backup-*
prisma/*.bak-*
